.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rcache/
cache/
*.html
*.pdf
#*.png
*.xlsx
*.csv
*.zip
*.log
*.aux
*.out
*.toc
# Ignorar dados pesados
data/raw/
*.rds

# Ignorar ficheiros do sistema e RStudio
.Ruserdir/
.positai

# No seu .gitignore, adicione:
data/*.shp
data/*.dbf
data/*.prj
